.static{
    margin-bottom: 22px;
}
.red-text{
    color: red;
}
.input-padding{
    margin: 13px 0;
    padding: 10px 0 0 0;
}
.right-content{
    float: right;
    margin-right: 16px;
}
.right-content {
    margin-top: 12px;
    button{
        padding: 7px 15px;
    }
}
.countryCode 

    .el-input__inner{
        padding: 0px 13px;
    }

.input-padding p,
.input-padding  .el-radio-group{
    margin-top: 9px;
}
